body{
    background-color: rgb(32, 28, 51);
    overflow: hidden;
}
.mainpage{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  width: 100%;
  height: 100%;
}
.preview{
  width: 75%;
  height: 100%;
  margin: auto;
  background-color: red;
}